@using Loogan.Web.UI.Resources.Pages
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@model Loogan.API.Models.Models.ApiRequest

@inject IStringLocalizer<ContentLabel> Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions?.Value?.SupportedUICultures?
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
<img title="@Localizer["ChangeLanguageKey"]" alt="@Localizer["ChangeLanguageKey"]" src="~/images/color_question.png" style="cursor:pointer;" data-toggle="modal" data-target="#ctop_modal" />
<div class="modal modal-static fade" id="ctop_modal" tabindex="-1" aria-labelledby="top_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["ChangeLanguageKey"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="lClose">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="culture" />
                <input type="hidden" id="returnurl" name="returnurl" value="@Model.RequestValue" />
                <div class="row">
                    <div class="col-2">
                        <label class="form-label">Language:</label>
                    </div>
                    <div class="col-7">
                        <select class="form-select" name="culture" onchange="onChange(this)"
                                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                                asp-items="cultureItems">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" onclick="submitLangChange()" type="button" value="@Localizer["ChangeLanguageKey"]" />
            </div>
        </div>
    </div>
</div>
<script>
    function onChange(ctrl) {
        document.getElementById('culture').value = '';
        document.getElementById('culture').value = ctrl.value;
        document.getElementById('returnurl').value = window.location.pathname;
    }
    function submitLangChange(){
        $('#lClose').trigger('click');
        $.ajax({
            method: 'Post',
            url: "/Language/SetJsonLanguage",
            data: { culture: $('#culture').val() },
            success: function (response) {
                window.location.href = window.location.href;
            },
            failure: function (response) {
                
            },
            error: function (response) {
                
            }
        });
    }
</script>
