@using Loogan.Web.UI.Resources.Pages
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ContentLabel> Localizer
<div class="modal modal-static fade" id="top_modal" tabindex="-1" aria-labelledby="top_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["ForgotPasswordKey"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <b>@Localizer["UserNameKey"]</b>&nbsp;
                    </div>
                    <div class="col-8">
                        <input type="text" id="txtForgotPwd" class="form-control-color" autofocus />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["CancelKey"]</button>
                <button type="button" class="btn btn-primary" onclick="SendEmail()">@Localizer["SubmitKey"]</button>
            </div>
        </div>
    </div>
</div>
<script>
    function SendEmail() {
        $.ajax({
            method: 'Post',
            url: "/Common/SendEmail",
            data: { userName: $('#txtForgotPwd').val() },
            success: function (e) {
                $('#top_modal').modal('hide');
                sentMessage('@Localizer["MailSentKey"]');
            },
            error: function (e) {
                $('#top_modal').modal('hide');
                var msg = JSON.parse(e.responseText);
                Alert(msg.detail, 'error')
            }
        });
    }
</script>