@using Loogan.API.Models.Models

@inherits Loogan.Web.UI.Components.LeftSideBarBase

<ul class="ulspace">
    <li class="text-white">
        <span class="logostyle"><b>Loogan Learn</b></span>&copy;
    </li>
</ul>
<form method="post">
    @if (UserType == "Admin")
    {
        <ul class="ulspace">
            <li class="liSpace">
                <img src="/images/profile.png" style="width:30px;height:30px" />
                <a style="color:white;font-size:16px;" href="/Profile/Profile">
                    @UserName
                </a>
            </li>
            <li class="liSpace">
                <img src="/images/grades.png" style="width:30px;height:30px" />
                <a style="color:white;font-size:16px;" href="/User/user">@Localizer["AddEditUserKey"]</a>
            </li>
            <li class="liSpace">
                <img src="/images/grades.png" style="width:30px;height:30px" />
                <a style="color:white;font-size:16px;" href="/Admin/Staff">@Localizer["AddEditStaffKey"]</a>
            </li>
            <li class="liSpace">
                <img src="/images/grades.png" style="width:30px;height:30px" />
                <a style="color:white;font-size:16px;" href="/Admin/Student">@Localizer["AddEditStudentKey"]</a>
            </li>
            <li class="liSpace">
                <img src="/images/grades.png" style="width:30px;height:30px" />
                <a style="color:white;font-size:16px;" href="/Admin/Course">@Localizer["AddEditCourseKey"]</a>
            </li>

            <li class="liSpace">
                <img src="/images/rolemapping.png" style="width:30px;height:30px" />
                <a style="color:white;font-size:16px;" href="/Admin/RoleMapping">@Localizer["RoleMappingKey"]</a>
            </li>
            <li class="liSpace">
                <img src="/images/signout.png" style="width:30px;height:30px" />
                <a style="color:white;font-size:16px;" href="/Logout">@Localizer["SignOutKey"]</a>
            </li>
        </ul>
    }
    else
    {
        <ul class="ulspace">
            @foreach (var item in RoleMenus ?? Enumerable.Empty<MenuModel>())
            {
                string? menu = item?.MenuName;
                if (item?.MenuName?.ToLower() == "profile")
                {
                    menu = UserName;
                }
                <li class="liSpace">
                    <img src="@item?.MenuIcon" style="width:30px;height:30px" alt="@menu" />
                    <a style="color:white;font-size:16px;" href="@item?.MenuUrl">@menu</a>
                </li>
            }
        </ul>
    }
</form>
