@page "/Admin/Student"
@using Loogan.Web.UI.Components
@using Loogan.Web.UI.Resources.Pages
@using Loogan.Web.UI.Utilities
@using Microsoft.Extensions.Localization
@model Loogan.API.Models.Models.Admin.StudentModel
@attribute [LooganAdminAuthorize("Admin")]
@inject IStringLocalizer<ContentLabel> Localizer
@{
    var showStudents = "showStudents";
    var getTotalRecords = "getTotalRecords";
}
<component type="typeof(Upper_Component)" render-mode="Static" />
<div id="site-wrap" class="off-canvas-wrap">
    <div class="inner-wrap">
        <div class="row">
            <div class="col-2 bb-login pointscroll leftmenu">
                <component type="typeof(LeftSideBar_Component)" render-mode="Server" />
            </div>
            <div class="col-10">
                <div class="base-profile pointscroll righcontent scrollrightend">
                    <div class="columns small-12 profile-content" style="margin-top:2px !important">
                        <div class="row">
                            <div class="col-12 left-align">
                                <h2 class="coursetitle">@Localizer["StudentListMappingKey"]</h2>
                                <hr />
                            </div>
                        </div>
                        <table class="table">
                            <thead id="tdHeader">
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        @Localizer["FirstNameKey"]
                                    </td>
                                    <td>
                                        @Localizer["LastNameKey"]
                                    </td>
                                    <td>
                                        @Localizer["FullNameKey"]
                                    </td>
                                    <td>
                                        @Localizer["AdmissionReprestativeKey"]
                                    </td>
                                    <td>
                                        @Localizer["GenderKey"]
                                    </td>
                                    <td>
                                        @Localizer["CountryKey"]
                                    </td>
                                    <td>
                                        @Localizer["StateKey"]
                                    </td>
                                    <td>
                                        @Localizer["PostalKey"]
                                    </td>
                                </tr>
                            </thead>
                            <tbody id="tdBody">
                            </tbody>
                        </table>
                        <component type="typeof(Paging_Component)" render-mode="ServerPrerendered"
                                   param-TotalRecords="10" param-NavigateURL="showStudents" param-TotalRecordsURL="getTotalRecords" />
                    </div>
                    <component type="typeof(Lower_Component)" render-mode="Static" /><br />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-top fade" id="top_modal" tabindex="-1" role="dialog" aria-labelledby="fullscreen_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-9">
                        <h2 class="modal-title">@Localizer["StudentListMappingKey"]</h2>
                    </div>
                    <div class="col-3" style="text-align:right">
                        <button id="btnStudentCreateClose" type="button" class="btn btn-secondary" data-dismiss="modal">
                            @Localizer["CloseKey"]
                        </button>
                        <button type="button" class="btn btn-primary">@Localizer["SaveChangesKey"]</button>
                    </div>
                </div>
            </div>
            <div class="modal-body ">
                <div class="col-12">
                    <div class="base-profile pointscroll righcontent scrollrightfullend">
                        <div class="columns small-12 profile-content" style="margin-top:0px !important">
                            <div class="columns large-6 small-12 student-information">
                                <h3>
                                    @Localizer["BasicInformationKey"]
                                </h3>
                                <hr />
                                <p>
                                    <div>
                                        <b>
                                            @Localizer["Title"] <b class="text-danger">*</b>
                                        </b><br />
                                        <input id="txtStTitle" type="text" required />
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["Suffix"]
                                        </b><br />
                                        <input id="txtStSuffix" type="text" />
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["MaidenNameKey"]
                                        </b><br />
                                        <input id="txtStMaidenName" type="text" />
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["FirstNameKey"] <b class="text-danger">*</b>
                                        </b><br />
                                        <input id="txtStFirstName" type="text" required />
                                        <input type="hidden" id="hdnStudentId" name="hdnStudentId" value="0" />
                                        <input type="hidden" id="hdnUserId" name="hdnUserId" value="0" />
                                        <input type="hidden" id="hdnStudentNumber" name="hdnStudentNumber" value="0" />
                                        <input type="hidden" id="hdnCampusId" name="hdnCampusId" value="0" />
                                        <input type="hidden" id="hdnprogramId" name="hdnprogramId" value="0" />
                                        <input type="hidden" id="hdnSchoolId" name="hdnSchoolId" value="0" />
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["MiddleNameKey"]
                                        </b><br />
                                        <input id="txtStMiddleName" type="text" />
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["LastNameKey"] <b class="text-danger">*</b>
                                        </b><br />
                                        <input id="txtStLastName" type="text" required />
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["AdmissionReprestativeKey"]
                                        </b><br />
                                        <select id="ddlStAdmissionReprestative">
                                        </select>
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["FullNameKey"] <b class="text-danger">*</b>
                                        </b><br />
                                        <input id="txtStFullName" type="text" />
                                    </div>

                                    <div>
                                        <b>
                                            @Localizer["NickNameKey"]
                                        </b><br />
                                        <input id="txtStNickName" type="text" />
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["MiddleInitialKey"]
                                        </b><br />
                                        <input id="txtStMiddleInitial" type="text" />
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["Gender"] <b class="text-danger">*</b>
                                        </b><br />
                                        <select id="ddlGender">
                                        </select> 
                                    </div>
                                    <div class="margintop5">
                                        <input id="chkMaritalStatus" type="checkbox" style="opacity:100 !important" />
                                        <b>
                                            @Localizer["MartialStatusKey"]
                                        </b>
                                    </div>
                                </p>

                            </div>
                            <div class="columns large-6 small-12 user-information">
                                <h3 style="margin:5px"></h3>
                                <br />
                                <hr />
                                <p>
                                    <div>
                                        <b>
                                            @Localizer["Country"]
                                        </b><br />
                                        <select id="ddlCountry">
                                        </select>
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["State"]
                                        </b><br />
                                        <select id="ddlState">
                                        </select>
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["PostalCode"]
                                        </b><br />
                                        <input id="txtStPostalCode" type="text" />
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["CitizenShipStatusKey"]
                                        </b><br />
                                        <select id="ddlStCitizenShipStatus">
                                        </select>
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["EducationalLevelKey"]
                                        </b><br />
                                        <select id="ddlEducationalLevel">
                                        </select>
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["EthnicGroupKey"]
                                        </b><br />
                                        <select id="ddlEthnicGroup">
                                        </select>
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["NationalityKey"]
                                        </b><br />
                                        <select id="ddlNationality">
                                        </select>
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["OriginalExceptedStartDateKey"]
                                        </b><br />
                                        <input id="txtOriginalExceptedStartDate" type="date" />
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["OriginalStartDateKey"]
                                        </b><br />
                                        <input id="txtOriginalStartDate" type="date" />
                                    </div>
                                    <div>
                                        <b>
                                            @Localizer["StartDateKey"]
                                        </b><br />
                                        <input id="txtStartDate" type="date" />
                                    </div>
                                    <div>
                                        <input id="chkHispanic" type="checkbox" style="opacity:100 !important" />
                                        <b>
                                            @Localizer["HispanicKey"]
                                        </b>

                                    </div>
                                    <div>
                                        <input id="chkVeteran" type="checkbox" style="opacity:100 !important" />
                                        <b>
                                            @Localizer["VeteranKey"]
                                        </b>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div style="margin-bottom:15vh">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function fnLoad() {
        ddlMasterLookup('ddlGender', 'gender');
        ddlCountry('ddlCountry');
        ddlstate('ddlState', 0);
        ddlMasterLookup('ddlEducationalLevel', 'educationlevel');
        ddlMasterLookup('ddlNationality', 'nationality');
        ddlMasterLookup('ddlEthnicGroup', 'ethnicgroup');
        ddlMasterLookup('ddlStCitizenShipStatus', 'citizenshipstatus');
        
        ddlStAdmissionReprestative();
        showStudents();
    }
    setTimeout(fnLoad(), 700);
</script>