@page "/Admin/Course"
@using Loogan.Web.UI.Components
@using Loogan.Web.UI.Resources.Pages
@using Loogan.Web.UI.Utilities
@using Microsoft.Extensions.Localization
@model Loogan.API.Models.Models.Admin.CourseModel
@attribute [LooganAdminAuthorize("Admin")]
@inject IStringLocalizer<ContentLabel> Localizer
@{
    var showCourses = "showCourses";
    var getTotalRecords = "getTotalRecords";
}
}
<component type="typeof(Upper_Component)" render-mode="Static" />
<div id="site-wrap" class="off-canvas-wrap">
    <div class="inner-wrap">
        <div class="row">
            <div class="col-2 bb-login pointscroll leftmenu">
                <component type="typeof(LeftSideBar_Component)" render-mode="Server" />
            </div>
            <div class="col-10 base-profile pointscroll righcontent">
                <div class="columns small-12 profile-content" style="margin-top:2px !important">
                    <div class="row">
                        <div class="col-12 left-align">
                            <h2 class="coursetitle">@Localizer["CourseMappingKey"]</h2>
                            <hr />
                        </div>
                    </div>
                    <div style="text-align:right">
                        <button onclick="course.showCourses()" type="button" style="background:gray;color:black" class="btn btn-light border rounded-pill shadow-sm mb-1" data-toggle="modal" data-target="#bottom_modal">
                            <b>@Localizer["ShowCourseKey"]</b>
                        </button>
                        <button type="button" class="btn btn-light border rounded-pill shadow-sm mb-1" onclick="clearUserData()"
                                style="background:lightgreen;color:black">
                            <b>@Localizer["ClearKey"]</b>
                        </button>
                        <button id="btnSaveuser" type="button" class="btn btn-light border rounded-pill shadow-sm mb-1" onclick="createUser('btnSaveuser')"
                                style="background:blue;color:white">
                            <b>@Localizer["SaveKey"]</b>
                        </button>
                    </div>
                    <div class="columns large-6 small-12 user-information">
                        <p>
                            <div>
                                <b>
                                    @Localizer["CourseGroupKey"] <b class="text-danger">*</b>
                                </b><br />
                                <select id="ddlCourseGroup">
                                </select>
                            </div>
                            <div>
                                <b>
                                    @Localizer["CourseCodeKey"] <b class="text-danger">*</b>
                                </b><br />
                                <input id="txtCourseCode" type="text" required />
                                <input type="hidden" id="hdnCourseId" name="hdnCourseId" value="0" />
                                <input type="hidden" id="hdnCourseGroupId" name="hdnCourseGroupId" value="0" />
                                <input type="hidden" id="hdnCourseLevelSourceId" name="hdnCourseLevelSourceId" value="0" />
                            </div>
                            <div>
                                <b>
                                    @Localizer["CourseNameKey"] <b class="text-danger">*</b>
                                </b><br />
                                <input id="txtCourseName" type="text" required />
                            </div>
                            <div>
                                <b>
                                    @Localizer["CourseDescriptionKey"]
                                </b><br />
                                <input id="txtCourseDesc" type="text" />
                            </div>
                        </p>
                    </div>
                    <div class="columns large-6 small-12 user-information">
                        <p>
                            <div>
                                <b>
                                    @Localizer["CreditHoursKey"]
                                </b><br />
                                <input id="txtCreditHours" type="text" />
                            </div>
                            <div>
                                <b>
                                    @Localizer["CreditsKey"]
                                </b><br />
                                <input id="txtCredits" type="text" />
                            </div>

                        </p>
                    </div>


                </div>
            </div>
            <component type="typeof(Lower_Component)" render-mode="Static" /><br />
        </div>
    </div>
</div>

<div class="modal modal-full fade" id="bottom_modal" tabindex="-1" role="dialog" aria-labelledby="fullscreen_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Course(s) List</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead id="tdHeader">
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                @Localizer["CourseCodeKey"]
                            </td>
                            <td>
                                @Localizer["CourseNameKey"]
                            </td>
                            <td>
                                @Localizer["CourseDescKey"]
                            </td>
                            <td>
                                @Localizer["CourseGroupNameKey"]
                            </td>
                        </tr>
                    </thead>
                    <tbody id="tdBody">
                    </tbody>
                </table>
                <component type="typeof(Paging_Component)" render-mode="ServerPrerendered"
                           param-TotalRecords="10" param-NavigateURL="showCourses" param-TotalRecordsURL="getTotalRecords" />
            </div>
            <div class="modal-footer modal-footer-fixed d-none">
                <button id="btnCreateClose" type="button" class="btn btn-secondary" data-dismiss="modal">
                    @Localizer["CloseKey"]
                </button>
                <button type="button" class="btn btn-primary">@Localizer["SaveChangesKey"]</button>
            </div>
        </div>
    </div>
</div>
