@page "/Admin/EmailTemplate"
@using Loogan.Web.UI.Components
@using Loogan.Web.UI.Pages.Shared
@using Loogan.Web.UI.Resources.Pages
@using Loogan.Web.UI.Utilities
@using Microsoft.Extensions.Localization
@model Loogan.API.Models.Models.EmailTemplatesModel
@inject IStringLocalizer<ContentLabel> Localizer
@attribute [LooganAdminAuthorizeAttribute("Admin")]

@{
    var showEmailTemplates = "showEmailTemplates";
    var getTotalRecords = "getTotalRecords";
}

<component type="typeof(Upper_Component)" render-mode="Static" />
<input type="hidden" id="hdnemailTemplateId" name="hdnemailTemplateId" value="0" />
<div id="site-wrap" class="off-canvas-wrap">
    <div class="inner-wrap">
        <div class="row">
            <div class="col-2 bb-login pointscroll leftmenu">
                <component type="typeof(LeftSideBar_Component)" render-mode="Server" />
            </div>
            <div class="col-10">
                <div class="base-profile pointscroll righcontent scrollrightend">
                    <div style="height:5vh">
                        &nbsp;
                    </div>
                    <div class="row">
                        <div class="col-12 left-align">
                            <h2 class="EmailTemplatetitle">@Localizer["EmailTemplateKey"]</h2>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-11">
                            <div style="text-align:right">
                                <button onclick="emailtemplates.showEmailTemplates()" type="button" style="background:gray;color:black" class="btn btn-light border rounded-pill shadow-sm mb-1" data-toggle="modal" data-target="#bottom_modal">
                                    <b>@Localizer["ShowEmailTemplatesKey"]</b>
                                </button>
                                <button type="button" class="btn btn-light border rounded-pill shadow-sm mb-1" onclick="emailtemplates.clearEmailTemplateData()"
                                        style="background:lightgreen;color:black">
                                    <b>@Localizer["ClearKey"]</b>
                                </button>
                                <button id="btnSaveEmailTemplate" type="button" class="btn btn-light border rounded-pill shadow-sm mb-1" onclick="emailtemplates.createEmailTemplate('btnSaveEmailTemplate')"
                                        style="background:blue;color:white">
                                    <b>@Localizer["SaveKey"]</b>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            &nbsp;
                        </div>
                        <div class="col-2 pt-2">
                            @Localizer["EmailTemplateKey"] <b class="text-danger">*</b>
                        </div>
                        <div class="col-3 align-content-center align-items-center" style="padding:5px;padding-left:12px">
                            <select id="ddlEmailTemplate">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            &nbsp;
                        </div>
                        <div class="col-2 pt-2">
                            @Localizer["EmailSubjectKey"] <b class="text-danger">*</b>
                        </div>
                        <div class="col-8 align-content-center align-items-center">
                            <input id="txtemailsubject" type="text"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            &nbsp;
                        </div>
                        <div class="col-2 pt-2">
                            @Localizer["EmailBodyKey"] <b class="text-danger">*</b>
                        </div>
                        <div class="col-8 align-content-center align-items-center">
                            <textarea id="txtemailBody"  class="emailBody" name="input"></textarea>
                        </div>
                    </div>
                    <div style="height:8vh">
                        &nbsp;
                    </div>
                    <component type="typeof(Lower_Component)" render-mode="Static" /><br />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-full fade" id="bottom_modal" tabindex="-1" role="dialog" aria-labelledby="fullscreen_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">@Localizer["EmailTemplateListKey"]</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead id="tdHeader">
                        <tr>
                            <td>
                                &nbsp;
                            </td>

                            <td>
                                @Localizer["EmailTemplateKey"]
                            </td>
                            <td>
                                @Localizer["EmailSubjectKey"]
                            </td>
                        </tr>
                    </thead>
                    <tbody id="tdBody">
                    </tbody>
                </table>
                <component type="typeof(Paging_Component)" render-mode="ServerPrerendered"
                           param-TotalRecords="10" param-NavigateURL="showEmailTemplates" param-TotalRecordsURL="getTotalRecords" />
            </div>
            <div class="modal-footer modal-footer-fixed d-none">
                <button id="btnCreateClose" type="button" class="btn btn-secondary" data-dismiss="modal">
                    @Localizer["CloseKey"]
                </button>
                <button type="button" class="btn btn-primary">@Localizer["SaveChangesKey"]</button>
            </div>
        </div>
    </div>
</div>
<link href="~/css/jquery.cleditor.css" rel="stylesheet" />
<script src="~/js/jquery.cleditor.min.js"></script>
<script>
    $(document).ready(function () {
        $("#txtemailBody").cleditor();
    });
    function emailTemplateLoad() {
        emailtemplates.ddlMasterEmailTemplates();
    }
    setTimeout(emailTemplateLoad(), 700);
</script>
