@page "/Courses/courses"
@using Loogan.API.Models.Models
@using Loogan.Web.UI.Components
@using Loogan.Web.UI.Pages.Shared
@model Loogan.Web.UI.Pages.Courses.CoursesModel

@{
    int count = 0;
    Tuple<string, string> GetRandom(int i)
    {
        Random rnd = new Random();
        int index = rnd.Next(1, 6);
        string src = $"/images/nature{index}.jpeg";
        string id = $"divPic{i}";
        return Tuple.Create<string, string>(id, src);
    }
}
<component type="typeof(Upper_Component)" render-mode="Static" />
<div>
    <div id="site-wrap" class="off-canvas-wrap">
        <div class="inner-wrap">
            <div class="row">
                <div class="col-2 bb-login pointscroll leftmenu">
                    <component type="typeof(LeftSideBar_Component)" render-mode="Server" />
                </div>
                <div class="col-10">
                    <div class="base-profile pointscroll righcontent scrollrightend">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="coursetitle">Courses</h1>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 coursepicleftarrow">
                                <img class="picimgalign" src="/images/leftarrow.png" onclick="loadCourse()" />&nbsp; <span id="leftarrowtext"></span>
                            </div>
                            <div class="col-7 coursepicleftarrow" style="padding:5px">
                                <select id="ddlCourse" onchange="coursechange()">
                                    <option value="-1">Upcoming Courses</option>
                                    <option value="0">Current Courses</option>
                                    @foreach (DropDownListModel item in Model?.CourseDropdown ?? Enumerable.Empty<DropDownListModel>())
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-3 courseborderbottomright">
                                Upcoming Courses &nbsp; <img src="/images/rightarrow.png" class="picimgalign" />
                            </div>
                        </div>
                        <div class="row margintop5">
                            <div class="col-1 margintop5">
                                <img id="imgPic" src="~/images/image.png" onclick="showListView(1)" class="picimgalign" alt="imageview" title="Click here to view list" />
                                <img id="imgList" src="~/images/list.png" onclick="showListView(2)" class="picimgalign" style="display:none;" alt="imageview" title="Click here to view image" />
                            </div>
                            <div class="col-4 ">
                                <input type="text" placeholder="Search your courses" />
                            </div>
                            <div class="col-4">
                                <b>Filter</b>
                                <select style="width:13vw">
                                    <option value="0">All courses</option>
                                    <option value="1">Courses I am taking</option>
                                    <option value="2">Open courses</option>
                                    <option value="3">Completed courses</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select style="width:5vw">
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> &nbsp;items per page
                            </div>
                        </div>
                        <div class="row divpic">
                            @foreach (var item in Model?.CourseTypes ?? Enumerable.Empty<string>())
                            {
                                count = count + 1;
                                var picList = Model?.StudentCourseModels?.Where(x => x.CourseType == item).Select(x => x);
                                var srcId = GetRandom(count);
                                <div class="textlaignleft margintop5 pichide" style="margin-left:7px">
                                    <b>@item</b>
                                </div>
                                foreach (var pic in picList ?? Enumerable.Empty<StudentCourseModel>())
                                {
                                    <div class="col-4 pichide" id="@srcId.Item1">
                                        <div class="pic">
                                            <img onmouseover="imageFocusIn(this)" onmouseout="imageBlur(this)" src="@srcId.Item2" class="imgpic" />
                                            <hr />
                                            <span class="txtpaddingleft">@pic.CourseCode</span><br />
                                            <span class="txtpaddingleft">@pic.CourseName</span><br />
                                            <span class="txtpaddingleft">@pic.StudentCourseStatus</span>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="row divlist" id="divList">
                            @foreach (var item in Model?.CourseTypes ?? Enumerable.Empty<string>())
                            {
                                var picList = Model?.StudentCourseModels?.Where(x => x.CourseType == item).Select(x => x);
                                <div class="textlaignleft margintop5" style="margin-left:7px">
                                    <b>@item</b>
                                </div>
                                foreach (var pic in picList ?? Enumerable.Empty<StudentCourseModel>())
                                {
                                    <div class="col-10 divlistmargin">
                                        <div class="divlistleftborder">
                                            @pic.CourseCode
                                        </div>
                                        <div class="divlistleftborder">
                                            @pic.CourseName &nbsp; <span class="divlistlightgray">Original Course View</span>
                                        </div>
                                        <div class="divlistleftborder">
                                            <a href="#" class="anchornounderline">@pic.StudentCourseStatus | </a>&nbsp;
                                            <a href="#" class="anchornounderline">@pic.StaffName | </a>&nbsp;
                                            <a href="#" class="anchornounderline">More info</a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <br />
                        <component type="typeof(Lower_Component)" render-mode="Static" /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    liTabClick('/Courses/courses');
</script>