@page "/Courses/courses"
@using Loogan.Web.UI.Components
@using Loogan.Web.UI.Pages.Shared
@model Loogan.Web.UI.Pages.Courses.CoursesModel

<component type="typeof(Upper_Component)" render-mode="Static" />
<div>
    <div id="site-wrap" class="off-canvas-wrap">
        <div class="inner-wrap">
            <div class="row">
                <div class="col-2 bb-login pointscroll leftmenu">
                    <component type="typeof(LeftSideBar_Component)" render-mode="Server" />
                </div>
                <div class="col-10">
                    <div class="base-profile pointscroll righcontent scrollrightend">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="coursetitle">Courses</h1>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 coursepicleftarrow">
                                <img src="/images/leftarrow.png" /> &nbsp; @DateTime.Now.Year &nbsp; Fall
                            </div>
                            <div class="col-7 coursepicleftarrow">
                                <h3 class="fontitalic">
                                    Current Courses
                                    <img src="/images/downarrow.png" onclick="showCourses()" id="downArrow" />
                                </h3>
                                <div id="ddlCourse" class="child" onmouseout="courseout()" onmouseover="courseover()">
                                    <ul style="list-style:none" class="ulcourse">
                                        <li class="textlaignleft">Upcoming Courses</li>
                                        <li class="textlaignleft">Current Courses</li>
                                        <li class="textlaignleft">@DateTime.Now.Year Fall</li>
                                        <li class="textlaignleft">@DateTime.Now.Year Summer</li>
                                        <li class="textlaignleft">@DateTime.Now.Year-1 Fall</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-3 courseborderbottomright">
                                Upcoming Courses &nbsp; <img src="/images/rightarrow.png" />
                            </div>
                        </div>
                        <div class="row margintop5">
                            <div class="col-1 margintop5">
                                <img id="imgPic" src="~/images/image.png" onclick="showListView(1)" class="picimgalign" alt="imageview" title="Click here to view list" />
                                <img id="imgList" src="~/images/list.png" onclick="showListView(2)" class="picimgalign" style="display:none;" alt="imageview" title="Click here to view image" />
                            </div>
                            <div class="col-4 ">
                                <input type="text" placeholder="Search your courses" />
                            </div>
                            <div class="col-4">
                                <b>Filter</b>
                                <select style="width:13vw">
                                    <option value="0">All courses</option>
                                    <option value="1">Courses I am taking</option>
                                    <option value="2">Open courses</option>
                                    <option value="3">Completed courses</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <select style="width:5vw">
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> &nbsp;items per page
                            </div>
                        </div>
                        <div class="row divpic">
                            @for (int i = 0; i < 25; i++)
                            {
                                Random rnd = new Random();
                                int index = rnd.Next(1, 6);
                                string src = $"/images/nature{index}.jpeg";
                                string id = $"divPic{i}";
                                <div class="col-4 pichide" id="@id">
                                    <div class="pic">
                                        <img onmouseover="imageFocusIn(this)" onmouseout="imageBlur(this)" src="@src" class="imgpic" />
                                        <hr />
                                        <span class="txtpaddingleft">23FAH-4367</span><br />
                                        <b class="txtpaddingleft">ACCT-509-T-6:00-8:50</b><br />
                                        <span class="txtpaddingleft">Open</span>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row divlist" id="divList">
                            @for (int i = 0; i < 25; i++)
                            {
                                <div class="col-10 divlistmargin">
                                    <div class="divlistleftborder">
                                        23FAH-4367
                                    </div>
                                    <div class="divlistleftborder">
                                        ACCT-509-T-6:00-8:50 &nbsp; <span class="divlistlightgray">Original Course View</span>
                                    </div>
                                    <div class="divlistleftborder">
                                        <a href="#" class="anchornounderline">Open | </a>&nbsp;
                                        <a href="#" class="anchornounderline">Cathryn Meegan | </a>&nbsp;
                                        <a href="#" class="anchornounderline">More info</a>
                                    </div>
                                </div>
                            }
                        </div>
                        <br />
                        <component type="typeof(Lower_Component)" render-mode="Static" /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    liTabClick('/Courses/courses');
</script>