@page "leftsidebar"
@using Loogan.Web.UI.Resources.Pages.LeftSideBar
@using Microsoft.Extensions.Localization
@model Loogan.Web.UI.Pages.Shared.LeftSideBarModel
@inject IStringLocalizer<LeftSideBar> Localizer
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor _httpContext
@{
    var userName = _httpContext.HttpContext.Session.GetString("UserName");
}

<ul class="ulspace">
    <li class="text-white">
        <span class="logostyle">Loogan Learn</span>&copy;
    </li>
</ul>
<ul class="ulspace">
    <li class="liSpace">
        <img src="~/images/institution.png" alt="Institurion" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="/dashboard/dashboard">@Localizer["InstitutionPageKey"]</a>
    </li>
    <li class="liSpace">
        <img src="~/images/profile.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="/Profile/Profile">
            @userName
        </a>
    </li>
    <li class="liSpace">
        <img src="~/images/activity.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">@Localizer["ActivityStreamKey"]</a>
    </li>
    <li class="liSpace">
        <img src="~/images/course.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">@Localizer["CoursesKey"]</a>
    </li>
    <li class="liSpace">
        <img src="~/images/organization.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">@Localizer["OrgnizationsKey"]</a>
    </li>
    <li class="liSpace">
        <img src="~/images/calendar.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">@Localizer["CalendarKey"]</a>
    </li>
    <li class="liSpace">
        <img src="~/images/messages.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">@Localizer["MessagesKey"]</a>
    </li>
    <li class="liSpace">
        <img src="~/images/grades.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">@Localizer["GradesKey"]</a>
    </li>
    <li class="liSpace">
        <img src="~/images/tools.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">@Localizer["ToolsKey"]</a>
    </li>
    <li class="liSpace">
        <img src="~/images/signout.png" width="30px" height="30px" />
        <a style="color:white;font-size:16px;" href="#">@Localizer["SignOutKey"]</a>
    </li>
</ul>