@using Loogan.Web.UI.Resources.Pages
@using Microsoft.Extensions.Localization
@model Loogan.API.Models.Models.UserModel
@inject IStringLocalizer<ContentLabel> Localizer

<div class="modal modal-right fade" id="right_modal" tabindex="-1" role="dialog" aria-labelledby="right_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Contact Information</h2>
                <button type="button" id="btnClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>@Localizer["BasicInformationKey"]</h3>
                <hr />
                <p>
                    <div>
                        <b>@Localizer["FirstNameKey"]</b><br />
                        @Model?.FirstName
                    </div>

                    <div>
                        <b>@Localizer["LastNameKey"]</b><br />
                        @Model?.LastName
                    </div>
                    <div>
                        <b>@Localizer["AdditionalNameKey"]</b><br />
                        <input type="text" id="txtAddName" value="@Model?.AdditionalName" />
                    </div>
                    <div>
                        <b>@Localizer["EmailAddressKey"]</b><br />
                        @Model?.EmailAddress
                    </div>
                </p>
                <h3 style="margin:5px">@Localizer["AdditionalInformationKey"]</h3>
                <hr />
                <p>
                    <div>
                        <b>@Localizer["GenderKey"]</b><br />
                        <select id="ddlGender">
                        </select>
                    </div>
                    <div>
                        <b>@Localizer["PrefixKey"]</b><br />
                        <input id="txtPrefix" type="text" value="@Model?.PreFix" />
                    </div>
                    <div>
                        <b>@Localizer["MiddleNameKey"]</b><br />
                        <input id="txtMiddleName" type="text" value="@Model?.MiddleName" />
                    </div>
                    <div>
                        <b>@Localizer["SuffixKey"]</b><br />
                        <input id="txtSuffix" type="text" value="@Model?.Suffix" />
                    </div>
                    <div>
                        <b>@Localizer["EducationLevelKey"]</b><br />
                        <select id="ddlEductionLevel">
                        </select>
                    </div>
                    <div>
                        <b>@Localizer["WebsiteKey"]</b><br />
                        <input id="txtWebSite" type="text" value="@Model?.WebSite" />
                    </div>
                </p>

                <h3 style="margin:5px">@Localizer["ContactInformationKey"]</h3>
                <hr />
                <p>
                    <div>
                        <b>@Localizer["CityKey"]</b><br />
                        <input id="txtCity" type="text" value="@Model?.City" />
                    </div>
                    <div>
                        <b>@Localizer["State_ProvinceKey"]</b><br />
                        <input id="txtState" type="text" value="@Model?.State" />
                    </div>
                    <div>
                        <b>@Localizer["CountryKey"]</b><br />
                        <input id="txtCountry" type="text" value="@Model?.Country" />
                    </div>
                    <div>
                        <b>@Localizer["PhoneNumberKey"]</b><br />
                        <input id="txtPhone" type="text" value="@Model?.PhoneNumber" />
                    </div>
                    <div>
                        <b>@Localizer["FaxNumberKey"]</b><br />
                        <input id="txtFax" type="text" value="@Model?.Fax" />
                    </div>
                </p>

                <h3 style="margin:5px">@Localizer["JobInformationKey"]</h3>
                <hr />
                <p>
                    <div>
                        <b>@Localizer["CompanyKey"]</b><br />
                        <input id="txtCompany" type="text" value="@Model?.Company" />
                    </div>
                    <div>
                        <b>@Localizer["JobTitleKey"]</b><br />
                        <input id="txtJobTitle" type="text" value="@Model?.JobTitle" />
                    </div>
                    <div>
                        <b>@Localizer["DepartmentKey"]</b><br />
                        <input id="txtDepartment" type="text" value="@Model?.Department" />
                    </div>
                </p>
            </div>
            <div class="modal-footer modal-footer-fixed">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["CloseKey"]</button>
                <input type="button" class="btn btn-primary" value="@Localizer["SaveChangesKey"]" onclick="UpdateUser()" />
            </div>
        </div>
    </div>
</div>
<script>
    ddlMasterLookup('ddlGender', 'gender','@Model.GenderId');
    ddlMasterLookup('ddlEductionLevel', 'educationlevel','@Model.EducationLevel');
    
    function UpdateUser() {
        var model = @Html.Raw(Json.Serialize(Model));
        model.additionalName = $('#txtAddName').val();
        model.genderId = $('#ddlGender').val();
        model.preFix = $('#txtPrefix').val();
        model.middleName = $('#txtMiddleName').val();
        model.suffix = $('#txtSuffix').val();
        model.educationLevel = $("#ddlEductionLevel option:selected").text();
        model.webSite = $('#txtWebSite').val();
        model.city = $('#txtCity').val();
        model.state = $('#txtState').val();
        model.country = $('#txtCountry').val();
        model.phoneNumber = $('#txtPhone').val();
        model.fax = $('#txtFax').val();
        model.company = $('#txtCompany').val();
        model.jobTitle = $('#txtJobTitle').val();
        model.department = $('#txtDepartment').val();
        //language add
        $.ajax({
            method: 'Post',
            url: "/User/UpdateUser",
            data: { user: model },
            success: function (e) {
                Alert('@Localizer["DataSavedKey"]', 'Success');
                $('#btnClose').trigger('click');
            },
            error: function (e) {
                Alert('@Localizer["FailedSaveKey"]', 'error');
                $('#btnClose').trigger('click');
            }
        })
    }
</script>
